<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedambnb.mapper.MemberMapper">

  <select id="loginCheck" resultType="com.yedambnb.vo.UserVO">
  SELECT
    user_no AS userNo,
    user_id AS userId,
    user_pw AS userPw,
    user_name AS userName,
    birth_date AS birthDate,
    telephone,
    user_authority AS userAuthority
  FROM tbl_user
  WHERE user_id = #{userId} AND user_pw = #{userPw}
</select>


</mapper>
