<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
    
    <setting name="logImpl" value="STDOUT_LOGGING"/>

  </settings>

	<typeAliases>
		<typeAlias alias="User" type="com.yedambnb.vo.UserVO" />
		<typeAlias alias="Booking" type="com.yedambnb.vo.BookingVO" />
		<typeAlias alias="MPReview" type="com.yedambnb.vo.MPReviewVO" />
		<typeAlias alias="Wishlist" type="com.yedambnb.vo.WishlistVO" />
		

	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@192.168.0.26:1521:xe" />
				<property name="username" value="jsp" />
				<property name="password" value="jsp" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
	<mapper resource="com/yedambnb/mapper/BnbMapper.xml"/>
  <mapper resource="com/yedambnb/mapper/MemberMapper.xml"/>
		<mapper resource="com/yedambnb/mapper/UserMapper.xml" />
		<mapper resource="com/yedambnb/mapper/BnbMapper.xml" />
		<mapper resource="com/yedambnb/mapper/BookingMapper.xml" />
		<mapper resource="com/yedambnb/mapper/MPReviewMapper.xml" />
		<mapper resource="com/yedambnb/mapper/wishlistMapper.xml" />
	</mappers>

</configuration>